
@mixin font-style-logo-lg {
    font-size: 2.4rem;
    font-weight: regular;
    color: white;
}

@mixin font-style-logo-md {
    font-size: 1.4rem;
    font-weight: regular;
    color: white;
}

@mixin font-style-logo-sm {
    font-size: 1rem;
    font-weight: regular;
    color: white;
}




